{% extends 'main.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            
            <!-- Main Content -->
            <div class="col-lg-8 align-items-center">
                <div class="row justify-content-center justify-content-lg-end">
                    <div class="col-md-12 col-lg-10">   
                        {% for track in tracks %}
                        <div class="card my-5">
                            <div class="card-header" id="card-header">
                                <img src="{{ track.author.profile.image.url }}" width="35" height="35" class="rounded-circle">
                                <span class="font-weight-bold mx-2">{{ track.author }}</span>
                            </div>
                            <div class="card-body p-0">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'track' slug=track.slug %}">
                                    <img src="{{ track.cover_art.url }}" class="cover-art card-img-top rounded-0" alt="">
                                </a>
                                {% else %}
                                <a href="{% url 'login' %}" target="_blank" class="text-decoration-none">
                                    <img src="{{ track.cover_art.url }}" class="cover-art card-img-top rounded-0" alt="">
                                </a>
                                {% endif %} 
                            </div>
                            <div class="d-flex justify-content-between my-2">
                                {% if request.user.is_authenticated %}
                                    <div class="">
                                        <ul class="d-flex ms-2 list-inline m-0">
                                            <li class="list-inline-items likes me-1">
                                                <form action="{% url 'like'%}" method="POST" class="like-form" id="{{track.id}}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="track_id" value="{{track.id}}">
                                                    {% if user not in track.likes.all %}
                                                    <button class="btn like-button{{track.id}}" id="" value="{{track.id}}">
                                                        <i class="bi bi-heart"></i>
                                                    </button>
                                                    {% else %}
                                                    <button class="btn like-button{{track.id}}" id="" value="{{track.id}}">
                                                        <i class="bi bi-heart-fill"></i>
                                                    </button>
                                                    {% endif %} 
                                                </form>
                                            </li>
                                            <li class="list-inline-items me-1">
                                                <a href="{% url 'track' slug=track.slug %}">
                                                    <button class="btn">
                                                        <i class="bi bi-chat-left"></i>
                                                    </button>
                                                </a>
                                            </li>
                                            <li class="list-inline-items ml-4 me-1">
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
                                                    <i class="bi bi-share"></i>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                {% else %}
                                    <div class="">
                                        <ul class="d-flex ms-2 list-inline m-0">
                                            <li class="list-inline-items likes me-1">
                                                <a href="{% url 'login' %}">
                                                    <button class="btn">
                                                        <i class="bi bi-heart"></i>
                                                    </button>
                                                </a>
                                            </li>
                                            <li class="list-inline-items me-1">
                                                <a href="{% url 'login' %}">
                                                    <button class="btn">
                                                        <i class="bi bi-chat-left"></i>
                                                    </button>
                                                </a>
                                            </li>
                                            <li class="list-inline-items ml-4 me-1">
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
                                                    <i class="bi bi-share"></i>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                {% endif %}

                                <div class="d-flex align-items-center me-3">
                                    <span class="like-count{{track.id}}" id="like-count">{{track.like_count}}</span>
                                </div>
                            </div>
                            <hr class="m-0">
                            
                            
                            <!-- Post info and comments -->
                            <div class="px-3">
                                <div class="justify-content-between align-items-center my-2">
                                    {% if request.user.is_authenticated %}
                                    <div class="my-2">
                                        <a class="text-dark text-decoration-none" href="{% url 'track' slug=track.slug %}">
                                            <strong class="d-block">{{ track.track_title }}</strong>
                                        </a>
                                        <p class="m-0">By {{ track.artist_name }}</p>
                                    </div>
                                    {% else %}
                                    <div class="my-2">
                                        <a class="text-dark text-decoration-none" href="{% url 'login' %}">
                                            <strong class="d-block">{{ track.track_title }}</strong>
                                        </a>
                                        <p class="m-0">By {{ track.artist_name }}</p>
                                    </div>
                                    {% endif %}
                                    <div class="">
                                        <!-- Audio Player -->
                                        <audio src="{{ track.track.url }}" id="{{track.pk}}" class="audio" controls></audio>
                                    </div>
                                </div>
                                
                                <hr class="m-0">
                                <div class="mb-2">
                                    {% if request.user.is_authenticated %}
                                    <form class="input-group" action="{% url 'track' slug=track.slug %}" id="{{ track.pk }}" method="POST">
                                        {% csrf_token %}
                                        <input type="text" class="form-control border-0 px-0" name="body" placeholder="Add a comment...">
                                        <button class="btn input-group-append"><i class="bi bi-cursor"></i></button>
                                    </form>
                                    {% else %}
                                    <div class="input-group">
                                        <input type="text" class="form-control border-0 px-0" name="body" placeholder="Add a comment...">
                                        <a href="{% url 'login' %}" class="text-decoration-none">
                                            <button class="btn input-group-append"><i class="bi bi-cursor"></i></button>
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>     
                </div>    
            </div>
            
            <!-- Charts -->
            <div class="col-lg-4 d-none d-lg-block">
                <div class="sticky-top card my-5" style="z-index: -1;">
                    <div class="card-header" id="card-header" >
                        <h3 class="m-0" style="text-align: center;">Top 10 Singles</h3>
                    </div>
                    {% for track in tracks2 %}
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <h2 class="mb-0 mx-2">#{{ forloop.counter }}</h2>
                            <img src="{{ track.author.profile.image.url }}" width="40" height="40" class="rounded-circle">
                            <div class="d-flex flex-column">
                                <span class="font-weight-bold ms-2" style="font-size: 1.2rem">{{ track.artist_name }}</span>
                                <span class="ms-2" style="font-size: 1rem" >{{ track.track_title }}</span>
                            </div>
                        </div>
                        <hr class="mb-0">   
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}